/*common*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #fff5e2;
    font-family: 'Open Sans', sans-serif;
}

.container {
    margin: 0 auto;
    height: 100%;
    width: 50%;
}
/* header */
header {
    width: 100%;
    height: 15%;
    background-color: #fdbb40;
    position: relative;
}

h1 {
    padding-top: 30px;
    padding-left: 40px;
}

header img {
    position: absolute;
    height: 180px;
    top: -20px;
    right: -50px;
}
/* fine header */
/* main */
main {
    width: 100%;
    height: calc(100vh - 25%);
    padding: 0 40px;
    background-color: #ffffff;
}

#nome {
    border: none;
    font-size: 25px;
    margin-top: 40px;
    margin-bottom: 30px;
}

.ingredienti h3 {
    margin-bottom: 20px;
}

.col-left{
    width: 50%;
    float: left;
    margin-bottom: 15px;
}

.row {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.ingredienti img {
    height: 40px;
}

.row span {
    font-weight: 600;
    margin: 0 20px;
}

.ingredient {
    position: relative;
    appearance: none;
    background-color: #D33359;
    width: 15px;
    height: 15px;
}


.ingredient:checked:after {
    position: absolute;
    top: -10px;
    left: -1px;
    font-size: 23px;
    font-weight: bolder;
    content: '\2713';
}

.add {
    color: #D33359;
}

.sconto span {
    font-weight: 600;
    margin-right: 10px;
}

#coupon {
    background-color: #fff5e2;
    border: none;
    width: 70%;
    height: 25px;
    border-radius: 5px;
    font-weight: 600;
}

.calculate {
    margin-top: 30px;
    text-align: center;
}

#calc-price {
    border: none;
    background-color: #fdbb40;
    padding: 10px 20px;
    font-weight: bolder;
    font-size: 16px;
    border-radius: 5px;
}

#calc-price:hover,
.ingredient:hover {
    cursor: pointer;
}
/* fine main */
/* footer */
footer {
    padding: 0 40px;
    height: 10%;
    background-color: #d33359;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#tot-price {
    font-size: 30px;
    font-weight: bolder;
}